autom4te.cache/
.test/
cvs
Makefile
__KANADZUCHIROOT__
__KANADZUCHIETC__
__KANADZUCHILIB__
bouncehammer-*.tar.gz
config.log
config.status
dist
*~
src/bin/databasectl
src/bin/datadumper
src/bin/logger
src/bin/mailboxparser
src/bin/messagetoken
src/bin/summarizer
src/bin/tablectl
